<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Bikini Kill tribute page</title>
</head>
<body>
    <section class="section-one">
        <div class="container">
            <a class="link" href="about">About</a>
            <a class="link" href="works">Discography</a>
            <a class="link" href="gallery">Photo Gallery</a>
        </div>
    </section>
</body>
</html>