<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Works</title>
</head>
<body>
    <h1>Discography</h1>
        <div class="discography">
        <div class="albums">
            <h4>Albums</h4>
            <img class="cover" src="/images/bik1.jpg">
            <d>Revolution Girl Style Now (1991)</d>
            <img class="cover" src="/images/bik2.jpg">
            <d>Yeah Yeah Yeah Yeah / On Trobled Youth (1992)</d>
            <img class="cover" src="/images/bik3.jpg">
            <d>Pussy Whipped (1993)</d>
            <img class="cover" src="/images/bik4.jpg">
            <d>Reject All American (1996)</d>
            <img class="cover" src="/images/bik5.jpg">
            <d>Yeah Yeah Yeah Yeah (2014)</d>
        </div>
        <div class="singles">
            <h4>Singles & EPs</h4>
            <img class="cover" src="/images/bik6.jpg">
            <d>Bikini Kill (1992)</d>
            <img class="cover" src="/images/bik7.jpg">
            <d>New Radio (1993)</d>
            <img class="cover" src="/images/bik8.jpg">
            <d>The Anti-Pleasure Dissertation (1995)</d>
            <img class="cover" src="/images/bik9.jpg">
            <d>I Like Fucking (1995)</d>
        </div>
        <div class="compilations">
            <h4>Compilations</h4>
            <img class="cover" src="/images/bik10.jpg">
            <d>The C.D. Version Of The First Two Records (1994)</d>
            <img class="cover" src="/images/bik11.jpg">
            <d>The Singles (1998)</d>
        </div>
    </div>
    <div class="footer">
        <a class="link" href="/">Go back to the homepage</a>
    </div>
</body>
</html>